.checkout-wrapper {
  display: flex;
  flex-direction: column;

  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #220f00;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 40px 0;
  }
  .button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    height: 52px;
    width: 100%;
    max-width: 300px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-transform: initial;
    margin: 96px auto;
  }
}
