#home-container {
  height: auto;
  width: 100%;
  .hero-section-wrapper {
    min-height: calc(100vh - 120px);
    width: 100%;
    overflow: hidden;
    position: relative;
    // top: -20px;
    height: auto;
    .hero-section {
      width: 100%;
      .text-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: calc(100vh - 120px);
        height: auto;
        padding: 25px;
        .green-text {
          background: #e3fff1;
          border-radius: 32px;
          padding: 8px 22px;
          color: #06c270;
          font-size: 14px;
          width: auto;
        }
        .hero-title {
          font-weight: 700;
          font-size: 50px;
          line-height: 68px;
          display: flex;
          align-items: center;
          font-family: "Roboto Slab";
          margin: 10px 0 0 0;
        }
        .hero-text {
          margin: 15px 0 65px 0;
        }
        .hero-button {
          font-family: Roboto Slab;
          font-size: 14px;
          color: #ffffff;
          background: #220f00;
          border-radius: 32px;
          text-transform: initial;
          height: 50px;
          padding: 0 36px;
        }
        .social-container {
          display: flex;
          justify-items: flex-start;
          padding-top: 36px;
          position: relative;
          img {
            margin-right: 15px;
            height: 24px;
          }
        }
      }
      .image-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0;

        > div {
          width: 100%;
          flex-direction: column;
          display: flex;
          align-self: flex-end;
          img {
            width: 85%;
            display: flex;
            margin: auto;
          }
          .icons-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            img {
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
            .forward-icon {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .title {
      font-family: "Roboto Slab";
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 1.1;
      letter-spacing: 0.02em;
    }
    img {
      height: 56px;
    }
  }
  .our-collections-section {
    background-color: #f7f7fa;
    overflow-x: hidden;
    .collections-wrapper {
      margin-top: 85px;
      .collection-item {
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        &:hover {
          cursor: pointer;

          > .collection-image-container {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
          }
        }
        .collection-image-container {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          .collection-image {
            height: 100%;
          }
        }

        .collection-item-title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 900;
          font-size: 60px;
          color: #ffffff;
          line-height: 1.1;
          text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          margin-bottom: 20px;
          &.large {
            color: #220f00 !important;
            font-size: 96px;
          }
        }
        .button {
          margin-top: 20px;
          background: #ffffff;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          border-radius: 60px;
          height: 50px;
          padding: 10px 36px;
          text-transform: initial;
          font-family: Roboto Slab;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #220f00;
          &.large {
            background-color: #220f00;
            color: #ffffff;
            height: 72px;
            font-size: 24px;
            padding: 0px 120px;
          }
        }
      }
    }
  }
  .goodies-listing-section {
    .button {
      margin-top: 20px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 60px;
      height: 50px;
      padding: 10px 36px;
      text-transform: initial;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      background-color: #220f00;
      color: #ffffff;
    }
  }
}
