#nav-wrapper {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 65px;
  > .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;

    > .nav-logo {
      width: 130px;
      img {
        width: 100%;
      }
    }

    > .middle-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: auto;
      a {
        text-decoration: none;
      }
    }

    > .right-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 130px;
      position: relative;

      .custom-goodies-buttom {
        background-color: #a9eff2;
        height: 48px;
        width: 220px;
        border-radius: 50px;
        padding: 0 20px;
        color: #220f00;
        font-family: "Poppins";
        text-transform: initial;
        font-size: 16px;
        font-weight: 500;
        margin-right: 15px;
        position: absolute;
        left: -150px;
      }
      .cart-button {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 2px solid #220f00;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 6px 6px 6px;
        position: relative;
        cursor: pointer;

        img {
          height: 85%;
        }
        span {
          position: absolute;
          top: 15.25px;
          font-size: 15px;
          font-weight: 600;
          color: #220f00;
        }
      }
    }
  }
  > .notif-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(100% - 20px);
    bottom: -10px;
    margin: 0 5px;
    .notif {
      background: #220f00;
      border-radius: 32px;
      font-size: 14px;
      width: auto;
      display: flex;
      align-items: center;
      padding: 5px 5px;

      .title {
        text-transform: uppercase;
        background-color: #ed6c0255;
        height: 100%;
        color: #ed6c02;
        border-radius: 32px;
        font-size: 13px;
        padding: 3px 10px;
      }
      .text {
        color: #c7c9d9;
        padding: 0 10px 0 20px;
        font-size: 12px;
        font-family: "Roboto Slab";
        font-weight: 350;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @supports (-webkit-line-clamp: 2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  #side-nav {
    background-color: white;
    position: fixed;
    right: 0;
    z-index: 10;
    height: 100%;
    top: 0;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 85px -10px #220f0067;
  }
  #down-nav {
    background-color: #220f00;
    position: fixed;
    right: 0;
    z-index: 10;
    height: 100vh;
    top: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .links {
      padding: 25px 0;
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      a {
        color: white !important;
        text-decoration: none;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 100px;
        margin: 20px 0;
      }
    }
    .custom-goodies-buttom {
      background-color: #a9eff2;
      height: 56px;
      width: 90%;
      border-radius: 50px;
      padding: 0 20px;
      color: #220f00;
      font-family: "Poppins";
      text-transform: initial;
      font-size: 16px;
      font-weight: 500;
      margin-top: auto;
      margin-bottom: 36px;
    }
  }
}
.hide {
  display: none !important;
}
